<p id="notice"><%= notice %></p>


<table class="table table-dark" style="width: auto;">
  <tr>
    <td><strong>Name:</strong></td>
    <td><%= current_user.name.titleize %></td>
  </tr>

  <tr>
    <td><strong>Email:</strong></td>
    <td><%= current_user.email %></td>
  </tr>

  <tr>
    <td><strong>Phone no:</strong></td>
    <td><%= current_user.phone_no %></td>
  </tr>

  <tr>
    <td><strong>State:</strong></td>
    <td><%= current_user.state.name.titleize %></td>
  </tr>

  <tr>
    <td><strong>City:</strong></td>
    <td><%= current_user.city.name.titleize %></td>
  </tr>

  <tr>
    <td><strong>Company:</strong></td>
    <td><%= current_user.company.name.titleize %></td>
  </tr>

   <tr>
    <td><strong>Role:</strong></td>
    <td><%= current_user.roles.first.name.titleize %></td>
  </tr>
</table>

