<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-5">
    <%= form.label :name %>
    <%= form.text_field :name,class: "form-control" %>
  </div>

  <div class="col-md-5">
    <%= form.label :start_date %>
    <%= form.date_select :start_date, class: "form-control" %>
  </div>

  <div class="col-md-5">
    <%= form.label :language_id %>
    <%= form.select(:language_id, Language.all.collect {|l| [l.name, l.id]},{:prompt => 'Select Language'},{class: "form-control"}) %>
  </div>

  <br>
  <div class="actions">
    <%= form.submit  class: "btn btn-primary" %>
  </div>
<% end %>
