
<% @users.each do |user| %>
      <tr>
        <td><%= user.name.titleize %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_no %></td>
        <td><%= user.state_name.titleize %></td>
        <td><%= user.city_name.titleize %></td>
        <td><%= user.company_name.titleize %></td>
        <td><%= user.roles.first&.name&.titleize %></td>
        <td><%= user.languages.pluck(:name).join(",") %></td>
        <td><%= link_to 'Show',  team_leader_user_path(user), class: 'btn btn-success text-white' %></td>
        <td><%= link_to 'Edit',  edit_team_leader_user_path(user), class: 'btn btn-info text-white' %></td>
      </tr>
<% end %>